<div class="fmcontainer">
  <div class="fmmaindiv">
    <div class="fmmaindiv-left">
      <div class="liveimg">
        <img src="https://sarthakimage.s3.ap-south-1.amazonaws.com/assets/poster/5.png" />
      </div>
      <div class="live-rj">
        <h3>Sarthak FM</h3>
        <h4>Lorem Ipsum is simply dummy text</h4>
      </div>
    </div>
    <div class="fmmaindiv-center">
      <div class="alternative-radio">
          <div class="live-circle"></div>
            <span>Bhubaneswar Live</span>

      </div>
      <div class="live-player">
        <div class="liveplay clicklive playdisplay">
          <img src="assets/universal/pause2.png" />
        </div>
        <div class="livepause clicklive ">
          <img src="/assets/universal/play.png" />
        </div>
      </div>
          <div class="livesound">
              <div class="sound-icon">
                <img src="assets/universal/audio-speaker-on.png" class="audio-on">
                <img src="assets/universal/audio-speaker-off.png" class="audio-off soundplay">
              </div>
              <div class="sound-drag">
                <div class="livesound-box">
                    <input id="volume" type="range" min="0" max="10" value="5">
                </div>
              </div>
            </div>

    </div>
    <div class="fmmaindiv-right">
      <div class="closefm" (click)="close()">
        <span> Close FM </span>
        <i class="fa fa-window-close"></i>
      </div>
    </div>
  </div>
</div>
