.showdetails-page-banner {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
  }
  .home-shade {
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
    img {
      width: 100%;
      @media screen and (max-width: 768px) {
        position: relative;
        left: 0;
        bottom: -5px;
      }
    }
  }
}
.home-bg {
  width: 100%;
  height: initial;
  background-image: url("../../assets/universal/homebg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 0px;
  position: relative;
  overflow: hidden;
  padding-bottom: 140px;
  @media screen and (max-width:992px){
    padding-bottom:50px;
  }
  h2 {
    font-size: 34px;
    color: #f60038;
    text-transform: uppercase;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    img {
      height: 35px;
      width: 35px;
      margin-right: 10px;
      position: relative;
      top: -5px;
      @media screen and (max-width: 576px) {
        height: 26px;
        width: 30px;
      }
    }
    @media screen and (max-width: 576px) {
      font-size: 24px;
    }
  }
  .detailscont {
    width: 100%;
    padding: 50px 70px 30px;
    @media screena and (max-width: 768px) {
      padding: 20px 20px;
    }
    .show-images {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .shows-details {
      width: 100%;
      h2 {
        font-size: 24px;
        color: #f60038;
        text-align: left;
      }
      p {
        font-size: 16px;
        color: #555;
      }
    }
  }
  .similar-show {
    padding-top: 30px;
    h2 {
      font-size: 20px;
      color: #f60038;
      margin-bottom: 70px;
      @media screen and (max-width:992px) {
        margin-bottom: 15px;
      }
    }
    .similar-show-cont {
      position: relative;
      padding: 0 20px;
      transform: translateZ(0) skewY(8deg);
      // border-top: 50px solid #f60038;
    // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.29);
    @media screen and (max-width:992px) {
      transform: translateZ(0) skewY(0deg);
      border-top: 25px solid #f60038;
      transform: rotate(0deg);
      
    }
    .item{
      margin-right: 10px;
      padding: 4px;
    }
    .showbox {
      width: 100%;
      
     
      margin-bottom: 20px;
      .showbox-top {
        width: 100%;
        padding: 15px 0px;
        text-align: center;
        background-color: #f60038;
        border-top-right-radius: 20px;
        overflow: hidden;

        h2 {
          font-size: 26px;
          color: #fff;
          margin: 0px;
          img {
            width: 50px;
            height: 40px;
            position: relative;
            top: 0px;
          }
        }
      }
      .show-bottom {
        width: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26);
        padding: 0px 0px 30px;
        border-bottom-left-radius: 20px;
        text-align: center;
        overflow: hidden;
        img{
          width: 100%;
          margin-bottom: 5px;
        }
        h3 {
          font-size: 24px;
          color: #333;
        }
        p {
          font-size: 20px;
          color: #555;
        }
        a {
          text-decoration: none;
          font-size: 16px;
          color: #fff;
          background-color: #f60038;
          padding: 7px 30px;
          transition: all 0.4s;
          -ms-transition: all 0.4s;
          -o-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -webkit-transition: all 0.4s;
          &:hover {
            background-color: #333;
          }
        }
      }
    }

      .shows-shlides {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -moz-transition: all 0.4s;
        a {
          display: block;
          text-decoration: none;
          .shows-shlides-img {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            img {
              width: 100%;
            }
          }
          .shows-shlides-shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f6003870;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(0);
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -moz-transition: all 0.4s;
            z-index: 200;
            img {
              width:40px;
              height: 40px;
            }
          }
          &:hover .shows-shlides-shadow {
            transform: scale(1);
          }
        }
      }
    }
  }
}
