<div class="contact-page-banner">
  <img src="../../assets/banner/topsongs8.jpg" />
  <div class="home-shade">
    <img src="../../assets/universal/whiteshde-up.png" />
  </div>
</div>
<div class="home-bg">
  <h2><img src="../../assets/universal/add-contact.png" /> Contact Us</h2>

  <div class="contact-container">
    <div class="row">
      <div class="col-sm-5 order-sm-7">
        <div class="contact-images">
          <div class="contact-images-cont">
            <div class="contact-images-cd">
              <img src="../../assets/universal/cd.png" />
            </div>
            <div class="contact-images-ID">
              <!-- <img src="../../assets/poster/7.png" /> -->
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29805.43361636942!2d85.73009035421191!3d20.965394180600857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a192dea43cac54b%3A0x3a7c24c24876022c!2sOdisha%2C%20759024!5e0!3m2!1sen!2sin!4v1567685921286!5m2!1sen!2sin"
                width="100%"
                height="100%"
                frameborder="0"
                style="border:0;"
                allowfullscreen=""
              ></iframe>
            </div>
            <div class="contact-images-pin">
              <img src="../../assets/universal/rj-pin.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7 order-sm-1">
        <div class="contact-details">
          <h2>Sarthak FM</h2>
          <h3>Bhubanesw Office</h3>
          <p>Sarthak Tower, Module - 1, EP & GP Block, Sector V, OdishA - 500025, India.</p>
          <a href="tel:+91 9876543210" > +91 9876543210</a>
          <a href="mailto:info@sarthakFM.com" > info@sarthakFM.com</a>

          <h3>Rourkela Office</h3>
          <p>Sarthak Tower, Module - 1, EP & GP Block, Sector V, OdishA - 500025, India.</p>
          <a href="tel:+91 9876543210" > +91 9876543210</a>
          <a href="mailto:info@sarthakFM.com" > info@sarthakFM.com</a>
          
          <div class="contact-social-div">
            <a href="javascript:;"><i class="fab fa-facebook-f"></i></a>
            <a href="javascript:;"><i class="fab fa-twitter"></i></a>
            <a href="javascript:;"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
