<!-- <div class="topsongs-banner">
  <div class="home-shade">
    <img src="../../assets/banner/topsongs2.jpg">
  </div>
</div> -->
<div class="topsongs-banner">
  <img src="../../assets/banner/topsongs2.jpg" />
  <div class="home-shade">
    <img src="../../assets/universal/whiteshde-up.png" />
  </div>
</div>

<div class="home-bg">
  <div class="songsdiv">
    <h2><img src="../../assets/universal/pause.png" /> Top Songs</h2>
    <div class="songsdiv-cont">
      <owl-carousel
      [options]="OwlOptionsseven"
        [carouselClasses]="['owl-theme', 'sliding']"
      >
        <div class="item">
          <div class="topsongs-slidediv-box slidediv-box">
            <img src="../../assets/poster/10.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
          <div class="bottom-text">
            <div class="bottom-text-left">
              <h2>Album Nane</h2>
              <p>songs full Name</p>
            </div>
            <div class="bottom-text-right">
              <img src="../../assets/universal/play2.png" />
              <span>Play Now</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="topsongs-slidediv-box slidediv-box ">
            <img src="../../assets/poster/1.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
          <div class="bottom-text">
            <div class="bottom-text-left">
              <h2>Album Nane</h2>
              <p>songs full Name</p>
            </div>
            <div class="bottom-text-right">
              <img src="../../assets/universal/play2.png" />
              <span>Play Now</span>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="topsongs-slidediv-box slidediv-box ">
            <img src="../../assets/poster/2.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
          <div class="bottom-text">
            <div class="bottom-text-left">
              <h2>Album Nane</h2>
              <p>songs full Name</p>
            </div>
            <div class="bottom-text-right">
              <img src="../../assets/universal/play2.png" />
              <span>Play Now</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="topsongs-slidediv-box slidediv-box ">
            <img src="../../assets/poster/3.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
          <div class="bottom-text">
            <div class="bottom-text-left">
              <h2>Album Nane</h2>
              <p>songs full Name</p>
            </div>
            <div class="bottom-text-right">
              <img src="../../assets/universal/play2.png" />
              <span>Play Now</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="topsongs-slidediv-box slidediv-box ">
            <img src="../../assets/poster/4.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
          <div class="bottom-text">
            <div class="bottom-text-left">
              <h2>Album Nane</h2>
              <p>songs full Name</p>
            </div>
            <div class="bottom-text-right">
              <img src="../../assets/universal/play2.png" />
              <span>Play Now</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="topsongs-slidediv-box slidediv-box ">
            <img src="../../assets/poster/10.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
          <div class="bottom-text">
            <div class="bottom-text-left">
              <h2>Album Nane</h2>
              <p>songs full Name</p>
            </div>
            <div class="bottom-text-right">
              <img src="../../assets/universal/play2.png" />
              <span>Play Now</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="topsongs-slidediv-box slidediv-box ">
            <img src="../../assets/poster/1.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
          <div class="bottom-text">
            <div class="bottom-text-left">
              <h2>Album Nane</h2>
              <p>songs full Name</p>
            </div>
            <div class="bottom-text-right">
              <img src="../../assets/universal/play2.png" />
              <span>Play Now</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="topsongs-slidediv-box slidediv-box ">
            <img src="../../assets/poster/2.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
          <div class="bottom-text">
            <div class="bottom-text-left">
              <h2>Album Nane</h2>
              <p>songs full Name</p>
            </div>
            <div class="bottom-text-right">
              <img src="../../assets/universal/play2.png" />
              <span>Play Now</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="topsongs-slidediv-box slidediv-box ">
            <img src="../../assets/poster/3.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
          <div class="bottom-text">
            <div class="bottom-text-left">
              <h2>Album Nane</h2>
              <p>songs full Name</p>
            </div>
            <div class="bottom-text-right">
              <img src="../../assets/universal/play2.png" />
              <span>Play Now</span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="topsongs-slidediv-box slidediv-box ">
            <img src="../../assets/poster/4.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
          <div class="bottom-text">
            <div class="bottom-text-left">
              <h2>Album Nane</h2>
              <p>songs full Name</p>
            </div>
            <div class="bottom-text-right">
              <img src="../../assets/universal/play2.png" />
              <span>Play Now</span>
            </div>
          </div>
        </div>
      </owl-carousel>
    </div>
  </div>

  <!-- <div class="songsdiv">
    <h2><img src="../../assets/universal/play-buttonc.png" /> Related More</h2>
    <div class="songsdiv-cont">
      <owl-carousel
        [options]="{ items: 4, dots: false, navigation: false }"
        [carouselClasses]="['owl-theme', 'sliding']"
      >
        <div class="item">
          <div class="topsongs-slidediv-box video-active">
            <img src="../../assets/poster/2.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="topsongs-slidediv-box  video-modal">
            <img src="../../assets/poster/3.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="topsongs-slidediv-box  video-active">
            <img src="../../assets/poster/1.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="topsongs-slidediv-box  video-active">
            <img src="../../assets/poster/4.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="topsongs-slidediv-box  video-active">
            <img src="../../assets/poster/3.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="topsongs-slidediv-box  video-active">
            <img src="../../assets/poster/1.png" />
            <div class="slidediv-shadow">
              <img src="../../assets/universal/play-button.png" />
            </div>
          </div>
        </div>
      </owl-carousel>
    </div>
  </div> -->
</div>

<div class="modal-cont">
  <div class="modalcross">
    <img src="../../assets/universal/cross.png" />
  </div>
  <div class="modal-cont-div">
    <div class="playerdiv">
      <video
        id="video_player_id2"
        class="video-js vjs-big-play-centered"
        controls
        preload="auto"
      >
        <source src="../../assets/bannervedioone.mp4" type="video/mp4" />
        <!-- <source [src]="channelDetailsData?.channel_video_url" type='application/x-mpegURL'> -->
      </video>
    </div>
  </div>
</div>
