.lane-page-banner {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
  }
  .home-shade {
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
    img {
      width: 100%;
      @media screen and (max-width: 768px) {
        position: relative;
        left: 0;
        bottom: -5px;
      }
    }
  }
}
.home-bg {
  width: 100%;
  height: initial;
  background-image: url("../../assets/universal/homebg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 0px;
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
  h2 {
    font-size: 34px;
    color: #f60038;
    text-transform: uppercase;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    img {
      height: 35px;
      width: 35px;
      @media screen and (max-width: 576px) {
        height: 26px;
        width: 30px;
      }
    }
    @media screen and (max-width: 576px) {
      font-size: 24px;
    }
  }
  .songs-container {
    width: 100%;
    padding: 50px 70px 30px;
    @media screen and (max-width: 992px) {
      padding: 20px 20px;
    }
    .half-cont {
      width: 100%;
      padding: 8px;
        margin-bottom: 15px;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.24);
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.24);
      background-color: #fff;
      border-radius: 50px;
      &::after {
        content: "";
        display: block;
        clear: both;
      }
      &:hover{
          background-color: #f9416c0f;
      }
      a {
        text-decoration: none;
        display: block;
        width: 100%;
        .half-cont-img {
          float: left;
          width: 70px;
          border-radius: 50%;
          height: 70px;
          overflow: hidden;
          @media screen and (max-width:576px){
            width:60px;
            height: 60px;
          }
          img {
            width: 100%;
          }
        }
        .half-cont-name {
          width: 60%;
          height: 100%;
          text-align: left;
          padding-left: 10px;
          vertical-align: middle;
          display: inline-block;
          h2 {
            font-size: 20px;
            color: #f60038;
            margin-bottom: 8px;
            padding-top: 5px;
            text-align: left;
            @media screen and (max-width:992px) {
                font-size: 16px;
                padding-top: 0px;
            }
          }
          p {
            font-size: 16px;
            color: #555;
            margin-top: 0px;
            margin-bottom: 0px;
            @media screen and (max-width:992px) {
                font-size: 12px;
                padding-top: 0px;
            }
          }
        }
        .half-cont-btn {
          float: right;
          width: 18%;
          height: 70px;
          border-radius: 40px;
          background: rgba(250, 73, 114, 1);
          background: -moz-linear-gradient(
            top,
            rgba(250, 73, 114, 1) 0%,
            rgba(246, 0, 57, 1) 100%
          );
          background: -webkit-gradient(
            left top,
            left bottom,
            color-stop(0%, rgba(250, 73, 114, 1)),
            color-stop(100%, rgba(246, 0, 57, 1))
          );
          background: -webkit-linear-gradient(
            top,
            rgba(250, 73, 114, 1) 0%,
            rgba(246, 0, 57, 1) 100%
          );
          background: -o-linear-gradient(
            top,
            rgba(250, 73, 114, 1) 0%,
            rgba(246, 0, 57, 1) 100%
          );
          background: -ms-linear-gradient(
            top,
            rgba(250, 73, 114, 1) 0%,
            rgba(246, 0, 57, 1) 100%
          );
          background: linear-gradient(
            to bottom,
            rgba(250, 73, 114, 1) 0%,
            rgba(246, 0, 57, 1) 100%
          );
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (max-width:576px){
            width:60px;
            height: 60px;
          }
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
