<div class="privacy-page-banner">
        <img src="https://sarthakimage.s3.ap-south-1.amazonaws.com/assets/banner/topsongs7.jpg" />
        <div class="home-shade">
          <img src="https://sarthakimage.s3.ap-south-1.amazonaws.com/assets/universal/whiteshde-up.png" />
        </div>
      </div>

      

      <div class="home-bg">
        <h2><img src="../../assets/universal/cloud-computing.png" />{{cms?.title}}</h2>
        <div class="privacy-cont">
          <div [innerHTML]="cms?.body">
        </div>
      </div>
